@import 'components/variables.scss';

@import 'components/reset.scss';
@import 'components/menu.scss';
@import 'components/header.scss';
@import 'components/board.scss';
@import 'components/footer.scss';
@import 'components/banners.scss';
@import 'components/buttons.scss';

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&display=swap');

body {
	font-family: 'Outfit', sans-serif;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.8rem;
	color: $grey;
	background-color: $blue;
	//	background: url('../images/2- desktop-game-start.png') center no-repeat;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
