button {
	border: none;
	font-family: 'Outfit', sans-serif;
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	padding: 1rem;
	border-radius: $radius;
	@include button-color();
	@include transitions;
	cursor: pointer;

	&.x-color {
		@include button-color($xColor, $xColor-dark);
	}
	&.o-color {
		@include button-color($oColor, $oColor-dark);
	}
}
