.board {
	&__header {
		display: grid;
		align-items: center;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 50px;
		grid-column-gap: 20px;
	}
	&__header {
		font-weight: 700;
	}
	&__logo {
		width: 50%;
		cursor: pointer;
	}
	&__turn {
		border-radius: $radius;
		background-color: $blue-light;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		&::before {
			display: inline-block;
			content: '';
			mask-size: cover;
			width: 1rem;
			aspect-ratio: 1;
			background-color: $grey;
			margin-right: 0.3rem;
		}
	}
	&.O-turn {
		& .board__turn::before {
			mask: url('../images/icon-o.svg') no-repeat 50% 50%;
			-webkit-mask: url('../images/icon-o.svg') no-repeat 50% 50%;
			animation: o-in cubic-bezier(0.23, 1, 0.32, 1) 200ms;
		}
		& .board__turn.thinking::before {
			animation: thinking;
			animation-duration: 350ms;
			animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
			animation-iteration-count: infinite;
			animation-direction: alternate-reverse;
			animation-fill-mode: both;
			animation-play-state: running;
		}
	}
	&.X-turn {
		& .board__turn::before {
			mask: url('../images/icon-x.svg') no-repeat 50% 50%;
			-webkit-mask: url('../images/icon-x.svg') no-repeat 50% 50%;
			animation: x-in cubic-bezier(0.23, 1, 0.32, 1) 200ms;
		}
		& .board__turn.thinking::before {
			animation: thinking;
			animation-duration: 350ms;
			animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
			animation-iteration-count: infinite;
			animation-direction: alternate-reverse;
			animation-fill-mode: both;
			animation-play-state: running;
		}
	}

	&__restart {
		height: calc(100% - 4px);
		aspect-ratio: 1;
		background: $grey url('../images/icon-restart.svg') no-repeat center;
		background-size: 20px;
		border-radius: $radius;
		box-shadow: 0 4px 0 $grey-dark;
		justify-self: end;
		align-self: flex-start;
		border: none;
		cursor: pointer;
		@include transitions;
		&:hover {
			transform: translate3d(0, 2px, 0);
			box-shadow: 0 2px 0 $grey-dark;
		}
		&:active {
			transform: translate3d(0, 4px, 0);
			box-shadow: 0 0px 0 $grey-dark;
		}
	}
}

@keyframes o-in {
	0% {
		width: 1.15rem;
	}
	100% {
		width: 1rem;
	}
}
@keyframes x-in {
	0% {
		width: 1.15rem;
	}
	100% {
		width: 1rem;
	}
}
@keyframes thinking {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.2);
	}
}
