.menu {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	width: 100%;
	max-width: min(90vw, 30rem);
	visibility: hidden;
	margin-bottom: 0.5rem;
	opacity: 0;

	&__logo {
		max-width: 4.5rem;
	}
}
.selectMark {
	background-color: $blue-light;
	border-radius: $radius;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 1.5rem;
	padding: 1.5rem;
	box-sizing: border-box;
	font-size: 0.85rem;
	letter-spacing: 1px;
	text-transform: uppercase;

	& h1 {
		font-size: 1.05rem;
	}
	&__background {
		background-color: $blue;
		width: 100%;
		padding: 0.6rem;
		box-sizing: border-box;
		border-radius: 1rem;
	}
	&__wrapper {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-around;
		width: 100%;
		position: relative;

		&::before {
			content: '';
			width: 50%;
			background-color: $grey;
			height: 100%;
			position: absolute;
			transition: all 0.2s ease-in-out;
			border-radius: $radius;
		}
		&.x-picked {
			&::before {
				left: 0;
			}
			& .selectMark--x svg {
				fill: $blue;
			}
		}
		&.o-picked {
			&::before {
				left: 50%;
			}
			& .selectMark--o svg {
				fill: $blue;
			}
		}
		& .selectMark--x,
		& .selectMark--o {
			padding: 0.7rem;
			display: flex;
			max-height: 2rem;
			cursor: pointer;
			width: 50%;
			z-index: 10;
			& svg {
				fill: $grey;
				height: 100%;
				margin: auto;
			}
		}
	}
}
