$xColor: #31c3bd;
$xColor-dark: darken(#31c3bd, 10);
$oColor: #f2b137;
$oColor-dark: darken(#f2b137, 10);
$blue-light: #1f3641;
$blue: #1a2a33;
$blue-dark: #0f191e;
$blue-darken: rgba(15, 25, 30, 0.5);
$grey: #a8bfc9;
$grey-dark: #6991a2;
$radius: 10px;

@mixin transitions {
	transition: box-shadow cubic-bezier(0.23, 1, 0.32, 1) 300ms, transform cubic-bezier(0.23, 1, 0.32, 1) 300ms,
		background-size cubic-bezier(0.23, 1, 0.32, 1) 300ms;
}
@mixin button-color($color: $grey, $color-dark: $grey-dark, $blue-dark: $blue) {
	color: $blue-dark;
	background-color: $color;
	box-shadow: 0 6px 0 $color-dark;
	&:hover {
		transform: translate3d(0, 3px, 0);
		box-shadow: 0 3px 0 $color-dark;
	}
	&:active {
		transform: translate3d(0, 6px, 0);
		box-shadow: 0 0 0 $color-dark;
	}
	&.activated {
		transform: translate3d(0, 6px, 0);
		box-shadow: 0 0 0 $color-dark;
	}
}
